#unit-layer {
  z-index: 2;
}
#tile-layer {
  z-index: 1;
}
#stage {
  background-color: rgb(35, 35, 35);
  color: rgb(228, 226, 226);
  position: fixed;
}
.버튼 {
  position: fixed;
  z-index: 3;
}

.layer {
  position: absolute;
}

body {
  background-color: rgb(33, 33, 33);
  color: rgb(228, 226, 226);
  margin: 0;
}